* {
  boxsizing: border-box;

  margin: 0

  padding:0;
}

/* Global Styles */

body {
 font-family: Arial, sans-serif;
  font-size: 16 px;
  line-height: 1.5;
  color: #333;
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
  color: #666;
}

a:hover {

  color: #333;
}

header {
 background-color: #222;
  color: #fff;

  padding: 1 rem;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

nav li {
  margin-left 2rem;
}

nav a {
  font-size: 1.2 rem;

}

main{
  max-width: 800 px;
  margin: 0 auto;
  padding: 2 rem;
}

section {
  margin-bottom: 2 rem;
}

h1 {
  font-size: 2.5 rem;
  font-weight: 700;
  margin-bottom: 1 rem;
}

h2 {
  font-size: 2 rem;
  font-weight: 700;
  margin-bottom: 1 rem;
}

ol {
  list-style: decimal;
  margin-left: 2 rem;
}

pre {
  background-color: #eee;
  padding: 1 rem;
  margin-bottom: 1 rem;
  overflow-x: auto;
}

code {
  font-family: monospace;
}
